# Copy this file to .env and fill in your values
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/life-manager?retryWrites=true&w=majority
PORT=5001
FRONTEND_URL=https://your-app.netlify.app
